/* You can add global styles to this file, and also import other style files */
body{
  font-family: "Cormorant Garamond",serif;
    margin: 0;
    padding: 0;
}

.mainboxcontent{
  width: 100%;
  margin: 0;
  padding: 60px 7% 10px 7%;
}

.default-green-btn{
  background-color: #668c5b;
  color: white;
  border-radius: 3px;
  border: 1px solid #668c5b;
}
.default-green-btn:hover{
  background-color: #7ece68;
  color: white;
  border-radius: 3px;
  border-color: #7ece68;
}
h1, h2, h3, h4, h5, h6, p, a{
  font-family: "Cormorant Garamond",serif;
}

.small-fnt{
  font-size: 14px;
}
.pl-0{
  padding-left: 0px !important
}

.paragraph-text{
  color: rgba(0,0,0,0.6);
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #668c5b;
  outline: 0;
  box-shadow: none;
}


.welcomeFarm h2, .why-us h2, .product-category-slider h2{
  font-size: 40px;
  color: #668c5b;
  font-weight: 400;
  font-family: Allura,cursive;
}


.DailyProd {
  margin: 10px 15px;
  padding: 0 0 10px 0;
  border-radius: 8px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.055);
  -webkit-transition: 150ms ease;
  transition: 150ms ease;
  -webkit-box-shadow: 0 2px 5px 0 rgba(17, 121, 239, 0.15);
          box-shadow: 0 2px 5px 0 rgba(17, 121, 239, 0.15);
}

.DailyProd:hover {
  -webkit-box-shadow: 0 2px 5px 0 rgba(17, 121, 239, 0);
          box-shadow: 0 2px 5px 0 rgba(17, 121, 239, 0);
  -webkit-transition: 150ms ease;
  transition: 150ms ease;
}

.DailyProd img {
  max-width: 150px;
  margin: 20px auto;
  border-radius: 5px;
}


@media(max-width:768px){
  .mainboxcontent{padding: 40px 8px;}
}

@media(max-width:575px){
  .display-n{
    display: none;
  }

}
